body, html {
    margin: 0 auto;
    padding: 0;
    color: #585858;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

input[type="radio"] {
    -webkit-appearance: radio;
}

button, .btn, select {
    cursor: pointer;
}

.login-form #form-section {
    background: url(../images/background.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 100vh;
    z-index: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #969696;
    padding: 10px;
    border-radius: 2px;
}

.login-form #form-section:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;

    animation-name: demo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.logo {
    width: 600px;
    height: 70px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    padding: 10px;
    border: 3px solid gray;
    background: #585858;
}

.logo a {
    font-size: 36px;
    color: #fff;
    line-height: 40px;
    font-weight: normal;
}

.login-form .login-form {
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 9px 24px 5px rgba(0, 0, 0, 0.04);
}

.login-form form input[type="email"],
.login-form form input[type="password"] {
    -webkit-appearance: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #777777;
    border: none;
    background-color: #969696;
    padding: 24px;
    width: 580px;
}

.login-form .login-form form input[type="email"]:focus,
.login-form .login-form form input[type="password"]:focus {
    outline: none;
    background-color: #a0a0a0;
    box-shadow: none;
}

.login-form form button {
    -webkit-appearance: none;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background: #28720f;
    height: 55px;
    border: none;
    display: block;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.login-form form button:hover {
    background: #327819;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.login-form .login-form form button:focus {
    outline: none;
}

@media (max-width: 767px) {
    .copy-right {
        bottom: 5px;
    }
}

@media (max-width: 500px) {
    .form-fields {
        grid-template-columns: 1fr;
    }

    .login-form .login-form form input[type="email"] {
        border-right: none;
        border-bottom: 1px solid #e8e8e8;
    }
}

@keyframes demo {
    0%, 100% {
        background: rgba(5, 20, 5, 0.65);
    }
    25% {
        background: rgba(10, 50, 10, 0.55);
    }
    50% {
        background: rgba(5, 20, 5, 0.65);
    }
    75% {
        background: rgba(10, 50, 10, 0.55);
    }
}
