body, html {
    margin: 0 auto;
    padding: 0;
    color: #585858;
}

* {
    box-sizing: border-box;
}

.wrapper {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background: black;
    opacity: 80%;
    border-radius: 40px;
    z-index: 1;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

input[type="radio"] {
    -webkit-appearance: radio;
}

button, .btn, select {
    cursor: pointer;
}

.login-form #form-section {
    background: url(../images/background.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 100vh;
    z-index: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    border-radius: 2px;
}

.logo {
    width: 600px;
    height: 70px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.logo a {
    font-size: 36px;
    font-family: "Arial", serif;
    color: #208000;
    line-height: 40px;
    font-weight: normal;
    z-index: 2;
}

.login-form .login-form {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 9px 24px 5px rgba(0, 0, 0, 0.04);
}

.login-form form input[type="email"],
.login-form form input[type="password"] {
    -webkit-appearance: none;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, serif;
    font-size: 18px;
    color: black;
    border: 2px solid #208000;
    background: none;
    padding: 24px;
    width: 580px;
    border-radius: 40px;
    opacity: 100%;
    z-index: 2;
}

.login-form .login-form form input[type="email"]:hover,
.login-form .login-form form input[type="password"]:hover {
    outline: none;
    background-color: white;
    box-shadow: none;
    opacity: 100%;
}

.login-form form button {
    -webkit-appearance: none;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: black;
    background: #208000;
    height: 55px;
    display: block;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.3s ease-in-out;
    border-radius: 40px;
    margin-top: 40px;
    z-index: 2;
    border: none;
}

.login-form form button:hover {
    background: #208000;
    transition: 0.3s ease-in-out;
    opacity: 1;

}

@media (max-width: 767px) {
    .copy-right {
        bottom: 5px;
    }
}

@media (max-width: 500px) {
    .form-fields {
        grid-template-columns: 1fr;
    }

    .login-form .login-form form input[type="email"] {
        border-right: none;
    }
}
