* {
  box-sizing: border-box;
}

body, html {
  margin: 0 auto;
  padding: 0;
  background-image: url("../images/background.png");
  background-size: cover;
}

.container {
  width: 600px;
  padding: 15px;
  margin: 0 auto;
  align-self: center;
  background: black;
  opacity: 80%;
  border-radius: 40px;

}

.wrapper {
  display: block;
  font-size: 36px;
  font-family: "Arial", serif;
  position: relative;
  padding: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #208000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 40px;
  border: 2px solid #208000;
}

.wrapper input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  margin: 10px;
}
.checkmark {
  margin: 10px;
}
.check {
  position: relative;
  margin-left: 10px;
}
.wrapper a {
  position: relative;
  left: 20px;
  margin-left: 10px;
}

.wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

.wrapper input:checked ~ .checkmark {
  background-color: darkgreen;
}

.wrapper input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.vote-form {
  background: url(../images/background.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  min-height: 100vh;
  z-index: 0;
}

.vote-form:before {
  content: "";
  background: none;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;

  animation-name: background;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.vote-form button {
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: black;
  background: #208000;
  height: 55px;
  border: none;
  display: block;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;

  border-radius: 40px;
}

.vote-form button:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.vote-form button:disabled {
  background: #565656;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

